*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    margin: auto;
    max-width: 1024px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.btn-role 
{
    display: flex;
    gap: 4rem;
}
.btn-role button
{
    font-size: large;
    border-radius: 5px;
}
