form
{
    display: flex;
    gap: 1rem;
}
input
{
    font-size: medium;
    padding: 0.5rem;
}

table
{
    margin: 1rem;
    padding: 1rem;
    border-collapse: collapse;
}

th,td
{
    border: 1px solid;
    padding:0.5rem 4rem;
}

.btn-delate
{
    padding:0.25rem 1rem;
    color: #fff;
    background-color: red;
    border-radius: 5px;
}

.btn-delate:hover
{
    color: red;
    background-color: white;
}