form
{
    display: flex;
    gap: 1rem;
}
input
{
    font-size: medium;
    padding: 0.5rem;
}

table
{
    margin: 1rem;
    padding: 1rem;
    border-collapse: collapse;
    font-size: medium;

}
thead
{
    background-color: #17a2b8;
}

th,td
{
    border: 1px solid;
    padding:0.5rem 4rem;
}
.btn-save
{
    font-size: medium;
    padding:0.25rem 1rem;
    background-color: #28a745;
    color: #f8f9fa;
    border-radius: 5px;
    cursor: pointer;
}
.btn-save:hover
{
    background-color: #f8f9fa;
    color: #28a745;
}

.btn-delate
{
    font-size: medium;
    padding:0.25rem 1rem;
    color: #f8f9fa;
    background-color: #dc3545;
    border-radius: 5px;
    cursor: pointer;

}

.btn-delate:hover
{
    color: #dc3545;
    background-color: #f8f9fa;
}